<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newroad.system.user.dao.BussinessMapper">
  <resultMap id="BaseResultMap" type="com.newroad.system.manage.entity.Bussiness">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORIGIN" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ESTIMATE_PRICE" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="CUSTOMER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="CREATOR_USER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="OWNER_USER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="GAIN_RATE" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="TOTAL_AMOUNT" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="SUBTOTAL_VAL" javaType="java.lang.Double" jdbcType="FLOAT" />
      <arg column="DISCOUNT_PRICE" javaType="java.lang.Double" jdbcType="FLOAT" />
      <arg column="SALES_PRICE" javaType="java.lang.Double" jdbcType="FLOAT" />
      <arg column="DUE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="STATUS_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="TOTAL_PRICE" javaType="java.lang.Double" jdbcType="FLOAT" />
      <arg column="NEXTSTEP" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NEXTSTEP_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETE_STATUS" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="DELETE_USER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="DELETE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CONTACTS_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="CONTRACT_ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, ORIGIN, TYPE, ESTIMATE_PRICE, CUSTOMER_ID, CREATOR_USER_ID, OWNER_USER_ID, 
    GAIN_RATE, TOTAL_AMOUNT, SUBTOTAL_VAL, DISCOUNT_PRICE, SALES_PRICE, DUE_DATE, CREATE_TIME, 
    UPDATE_TIME, UPDATE_USER_ID, STATUS_ID, TOTAL_PRICE, NEXTSTEP, NEXTSTEP_TIME, DELETE_STATUS, 
    DELETE_USER_ID, DELETE_TIME, CONTACTS_ID, CONTRACT_ADDRESS, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_BUSINESS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TB_CRM_BUSINESS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.newroad.system.manage.entity.Bussiness">
    insert into TB_CRM_BUSINESS (ID, NAME, ORIGIN, 
      TYPE, ESTIMATE_PRICE, CUSTOMER_ID, 
      CREATOR_USER_ID, OWNER_USER_ID, GAIN_RATE, 
      TOTAL_AMOUNT, SUBTOTAL_VAL, DISCOUNT_PRICE, 
      SALES_PRICE, DUE_DATE, CREATE_TIME, 
      UPDATE_TIME, UPDATE_USER_ID, STATUS_ID, 
      TOTAL_PRICE, NEXTSTEP, NEXTSTEP_TIME, 
      DELETE_STATUS, DELETE_USER_ID, DELETE_TIME, 
      CONTACTS_ID, CONTRACT_ADDRESS, DESCRIPTION
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{estimatePrice,jdbcType=DECIMAL}, #{customerId,jdbcType=DECIMAL}, 
      #{creatorUserId,jdbcType=DECIMAL}, #{ownerUserId,jdbcType=DECIMAL}, #{gainRate,jdbcType=DECIMAL}, 
      #{totalAmount,jdbcType=DECIMAL}, #{subtotalVal,jdbcType=FLOAT}, #{discountPrice,jdbcType=FLOAT}, 
      #{salesPrice,jdbcType=FLOAT}, #{dueDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=DECIMAL}, #{statusId,jdbcType=DECIMAL}, 
      #{totalPrice,jdbcType=FLOAT}, #{nextstep,jdbcType=VARCHAR}, #{nextstepTime,jdbcType=TIMESTAMP}, 
      #{deleteStatus,jdbcType=DECIMAL}, #{deleteUserId,jdbcType=DECIMAL}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{contactsId,jdbcType=DECIMAL}, #{contractAddress,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newroad.system.manage.entity.Bussiness">
    insert into TB_CRM_BUSINESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="origin != null">
        ORIGIN,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="estimatePrice != null">
        ESTIMATE_PRICE,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
      <if test="creatorUserId != null">
        CREATOR_USER_ID,
      </if>
      <if test="ownerUserId != null">
        OWNER_USER_ID,
      </if>
      <if test="gainRate != null">
        GAIN_RATE,
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT,
      </if>
      <if test="subtotalVal != null">
        SUBTOTAL_VAL,
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE,
      </if>
      <if test="salesPrice != null">
        SALES_PRICE,
      </if>
      <if test="dueDate != null">
        DUE_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateUserId != null">
        UPDATE_USER_ID,
      </if>
      <if test="statusId != null">
        STATUS_ID,
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE,
      </if>
      <if test="nextstep != null">
        NEXTSTEP,
      </if>
      <if test="nextstepTime != null">
        NEXTSTEP_TIME,
      </if>
      <if test="deleteStatus != null">
        DELETE_STATUS,
      </if>
      <if test="deleteUserId != null">
        DELETE_USER_ID,
      </if>
      <if test="deleteTime != null">
        DELETE_TIME,
      </if>
      <if test="contactsId != null">
        CONTACTS_ID,
      </if>
      <if test="contractAddress != null">
        CONTRACT_ADDRESS,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="estimatePrice != null">
        #{estimatePrice,jdbcType=DECIMAL},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="creatorUserId != null">
        #{creatorUserId,jdbcType=DECIMAL},
      </if>
      <if test="ownerUserId != null">
        #{ownerUserId,jdbcType=DECIMAL},
      </if>
      <if test="gainRate != null">
        #{gainRate,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="subtotalVal != null">
        #{subtotalVal,jdbcType=FLOAT},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=FLOAT},
      </if>
      <if test="salesPrice != null">
        #{salesPrice,jdbcType=FLOAT},
      </if>
      <if test="dueDate != null">
        #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=DECIMAL},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="nextstep != null">
        #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="nextstepTime != null">
        #{nextstepTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=DECIMAL},
      </if>
      <if test="deleteUserId != null">
        #{deleteUserId,jdbcType=DECIMAL},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactsId != null">
        #{contactsId,jdbcType=DECIMAL},
      </if>
      <if test="contractAddress != null">
        #{contractAddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newroad.system.manage.entity.Bussiness">
    update TB_CRM_BUSINESS
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        ORIGIN = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="estimatePrice != null">
        ESTIMATE_PRICE = #{estimatePrice,jdbcType=DECIMAL},
      </if>
      <if test="customerId != null">
        CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="creatorUserId != null">
        CREATOR_USER_ID = #{creatorUserId,jdbcType=DECIMAL},
      </if>
      <if test="ownerUserId != null">
        OWNER_USER_ID = #{ownerUserId,jdbcType=DECIMAL},
      </if>
      <if test="gainRate != null">
        GAIN_RATE = #{gainRate,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="subtotalVal != null">
        SUBTOTAL_VAL = #{subtotalVal,jdbcType=FLOAT},
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE = #{discountPrice,jdbcType=FLOAT},
      </if>
      <if test="salesPrice != null">
        SALES_PRICE = #{salesPrice,jdbcType=FLOAT},
      </if>
      <if test="dueDate != null">
        DUE_DATE = #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        UPDATE_USER_ID = #{updateUserId,jdbcType=DECIMAL},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE = #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="nextstep != null">
        NEXTSTEP = #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="nextstepTime != null">
        NEXTSTEP_TIME = #{nextstepTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        DELETE_STATUS = #{deleteStatus,jdbcType=DECIMAL},
      </if>
      <if test="deleteUserId != null">
        DELETE_USER_ID = #{deleteUserId,jdbcType=DECIMAL},
      </if>
      <if test="deleteTime != null">
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactsId != null">
        CONTACTS_ID = #{contactsId,jdbcType=DECIMAL},
      </if>
      <if test="contractAddress != null">
        CONTRACT_ADDRESS = #{contractAddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newroad.system.manage.entity.Bussiness">
    update TB_CRM_BUSINESS
    set NAME = #{name,jdbcType=VARCHAR},
      ORIGIN = #{origin,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      ESTIMATE_PRICE = #{estimatePrice,jdbcType=DECIMAL},
      CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      CREATOR_USER_ID = #{creatorUserId,jdbcType=DECIMAL},
      OWNER_USER_ID = #{ownerUserId,jdbcType=DECIMAL},
      GAIN_RATE = #{gainRate,jdbcType=DECIMAL},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      SUBTOTAL_VAL = #{subtotalVal,jdbcType=FLOAT},
      DISCOUNT_PRICE = #{discountPrice,jdbcType=FLOAT},
      SALES_PRICE = #{salesPrice,jdbcType=FLOAT},
      DUE_DATE = #{dueDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=DECIMAL},
      STATUS_ID = #{statusId,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=FLOAT},
      NEXTSTEP = #{nextstep,jdbcType=VARCHAR},
      NEXTSTEP_TIME = #{nextstepTime,jdbcType=TIMESTAMP},
      DELETE_STATUS = #{deleteStatus,jdbcType=DECIMAL},
      DELETE_USER_ID = #{deleteUserId,jdbcType=DECIMAL},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      CONTACTS_ID = #{contactsId,jdbcType=DECIMAL},
      CONTRACT_ADDRESS = #{contractAddress,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>